<footer>
	<div class="row">
		<div class="col-md-2">
			<div style="text-align: center;">
				<h3>Colecciones</h3>
				<p ><small>Hombre</small></p>
				<p><small>Niñas</small></p>
				<p><small>Niños</small></p>
				<p><small>Lo nuevo</small></p>
			</div>
		</div>
		<div class="col-md-2 col-md-offset-1">
			<div style="text-align: center;">
				<h3>Tu compra</h3>
				<p ><small>Forma de pago</small></p>
				<p><small>Envíos</small></p>
				<p><small>Cambios o devoluciones</small></p>
				<p><small>Garantía</small></p>
			</div>
		</div>
		<div class="col-md-2 col-md-offset-1">
			<div style="text-align: center;">
				<h3>Ayuda</h3>
				<p ><small>Nuestras tiendas</small></p>
				<p><small>Privacidad y terminos legales</small></p>
				<p><small>Preguntas frecuentes</small></p>
				<p><small>Cookies</small></p>
			</div>
		</div>
		<div class="col-md-2 col-md-offset-1">
			<div style="text-align: center;">
				<h3>Síguenos</h3>
				<p ><small>Facebook</small></p>
				<p><small>Twitter</small></p>
				<p><small>Pinterest</small></p>
				<p><small>Instagram</small></p>
				<p><small>Newsletter</small></p>
				<p><small>Youtube</small></p>
				<p><small>Google+</small></p>
				<p><small>Vimeo</small></p>
				<p><small>etc...</small></p>

			</div>
		</div>
	</div>
</footer>
<div class="row">
	<div style="text-align:center" class="col-md-4 col-md-offset-4">
		<p style="color:rgb(154, 28, 65)">Consulta nuestro aviso de <a href="">Privacidad</a></p>
	</div>
</div>
<div style="background-color:black; color:white" class="row">
	<div style="text-align:center; background-color:black" class="col-md-4 col-md-offset-4">
		<h5>Copyright © 2011 <a href="">Milkshake</a> | Website <a href="http://www.milkshake.com.mx" target="_blank"><span>Milkshake</span></a></h5>		
	</div>
</div>