<div style="background-color:black" class="row">
	<div class="col-md-2 col-md-offset-5">
		<%= image_tag("http://tienda.milkshake.com.mx/imagenes/logo/logo.png", class: "img-fluid") %>
	</div>
</div>
<div class="row">
	<nav style="background-color: rgba(66,66,66,1)" class="navbar navbar-default navbar-static-top">
	  <div class="container-fluid">
	  	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8"> 
	  		<ul style="color:white" class="nav navbar-nav">
	  			<li>
	  				<a href="#">Mujer</a>
	  			</li>
	  			<li>
	  				<a href="#">Hombre</a>
	  			</li>
	  			<li>
	  				<a href="#">Niñas</a>
	  			</li>
	  			<li>
	  				<a href="#">Niños</a>
	  			</li>
	  			<li>
	  				<a href="#">Lo nuevo</a>
	  			</li>
	  		</ul>
	  		<ul class="nav navbar-nav navbar-right">
				<li style="float:right"><a href="#"><%= fa_icon "shopping-cart", style: "color:white" %></a></li>
				<li style="float:right"><a href="#"><%= fa_icon "heart", style: "color:white" %></a></li>
				<li style="float:right"><a href="#"><%= fa_icon "search", style: "color:white" %></a></li>
	  		</ul>
	  	</div> <!-- collapse navbar -->
	   </div> <!-- container-fluid -->
	</nav>

</div>